{% extends 'base.html' %}

{% block title %}Acerca de OnlyFlans{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Acerca de OnlyFlans</h2>
    <p>Bienvenidos a OnlyFlans, el sitio definitivo para los amantes del flan. Nuestra misión es ofrecerte una plataforma donde puedas descubrir, compartir y disfrutar de los mejores flanes, ya sean tradicionales, gourmet o innovadoras.</p>
    <p>En OnlyFlans, creemos que el flan no es solo un postre, sino una obra de arte culinario que merece ser celebrada. Nuestro equipo está compuesto por expertos pasteleros y entusiastas del flan que trabajan incansablemente para traerte las recetas más deliciosas y únicas.</p>
    <p>Nos enorgullece ser la plataforma preferida por los amantes al flan de todo el mundo. Gracias por unirte a nuestra comunidad y esperamos que disfrutes de todo lo que OnlyFlans tiene para ofrecer.</p>
    <p class="text-center"><strong>¡Bienvenido a OnlyFlans, donde cada flan es una delicia!</strong></p>
</div>
{% endblock %}

