{% extends 'base.html' %}

{% block title %}Bienvenido a OnlyFlans{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h3>Bienvenido {{ user.username }}</h3> <!-- Mensaje de bienvenida con el nombre de usuario -->
        </div>
    </div>
    <div class="row">
        {% for flan in flanes %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <img src="{{ flan.image.url }}" class="card-img-top flan-image" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                    <p class="card-text"><strong>Precio: ${{ flan.precio }}</strong></p> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}







